body {
    margin: 0;
}
container {
    margin: 60px auto;
    display: block;
    width: 780px;
}
hr[role="tournament1"] {
    border: 0px solid;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(172, 131, 83, 0.75), rgba(0, 0, 0, 0));
    margin: 32px 0px;
    display: block;
}
hr[role="tournament1"]::before {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: #AC8353;
    border-left: 0px solid;
    border-top: 0px solid;
    padding: 10px;
    transform: rotate(45deg);
    left: 50%;
    margin: -10px 0px 0px -22px;
    content: "";
}

.stars {
    height: auto;
    color: gold;
    text-align: center;
}
.stars:after {
    content: "★";
    font-size: 2em;
    text-shadow: -2em 0, -1em 0, 1em 0, 2em 0;
}

hr.style-five {
    border: 0;
    height: 0;
    box-shadow: 0 0 10px 1px #efd469
;
}
hr.style-five:after {
    content: "\00a0";
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 100%;
    position: relative;
    text-align: center;

}
.rating > span {
    display: inline-block;
    position: relative;
    color: #ffd900;
    font-size: 40px;
    width: 40px;
}
